<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/employee/management']"
        routerLinkActive="router-link-active"
        >Management</a
      >
      <a
        mat-list-item
        [routerLink]="['/employee/salary']"
        routerLinkActive="router-link-active"
        >Salaries</a
      >
      <a
        mat-list-item
        [routerLink]="['/leave/request']"
        routerLinkActive="router-link-active"
        >Leave</a
      >
      <a
        mat-list-item
        [routerLink]="['/leave/management']"
        routerLinkActive="router-link-active"
        >Leave m</a
      >
    </mat-nav-list>
    <div class="footer">© David Tsiklauri 2022</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggle(drawer)"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
