@import '~@angular/material/theming';

$primaryPalette: mat-palette($mat-indigo);
$accentPalette: mat-palette($mat-pink, A200, A100, A400);
$warnPalette: mat-palette($mat-red);

$defaultTheme: mat-light-theme($primaryPalette, $accentPalette, $warnPalette);

html {
  --primary-color: #{mat-color($primaryPalette)};
  --primary-color-bright: #6070c7;
  --accent-color: #{mat-color($accentPalette)};
  --warn-color: #{mat-color($warnPalette)};
}
